* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(87, 165, 255);
    font-weight: 600;
    text-align: center;
    padding: 1em;
    color: #ffffff;
}

nav {
    width: 100%;
    height: 3em;
    font-weight: 500;
    background-color: rgb(111, 197, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    transform: translateY(-3px);
    border-bottom: 2px solid #ffffff;
}

.Logo {
    color: #ffffff;
}
